<mat-card class="mt-3">
  <mat-card-title class="text-align">Filtres</mat-card-title>
  <mat-card-content class="text-align">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1" (change)="changed('all')" checked>Tous</mat-radio-button><br>
      <mat-radio-button value="2" (change)="changed('presents')">Présents</mat-radio-button><br>
      <mat-radio-button value="3" (change)="changed('absents')">Absents</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
